*.iml
*.class
.gradle
/local.properties
/key.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store

.flutter-plugins
.flutter-plugins-dependencies
.packages

/build
/captures
GeneratedPluginRegistrant.java
