<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761477102089-e8hvkadoe046lk17ke57i25ld4ff1sf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761477102089-e8hvkadoe046lk17ke57i25ld4ff1sf5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>761477102089-nvjf1gpjr89mkvhld3kukp831r0ep1qi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxg26pnBaTr3_Ng4zRghXoUUyBgMCpKWA</string>
	<key>GCM_SENDER_ID</key>
	<string>761477102089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andrioussolutions.workingmemory</string>
	<key>PROJECT_ID</key>
	<string>working-memory-823375</string>
	<key>STORAGE_BUCKET</key>
	<string>working-memory-823375.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761477102089:ios:ecbfc1109769ee45</string>
	<key>DATABASE_URL</key>
	<string>https://working-memory-823375.firebaseio.com</string>
</dict>
</plist>